@charset "utf-8";
@import "normalize";
@import "mixins/css3-mixins";

$body-col: #fafafa;
$txt-heading-col: #000;
$txt-content-col: #3f3f3f;
$txt-code-bg-col: #e5e5e5;
$txt-code-col: #008000;

$link-bg-col: rgba(0, 0, 0, 0.05);
$link-txt-col: $txt-content-col;
$link-bg-hov-col: rgba(0, 0, 0, 0.1);
$link-txt-hov-col: $txt-content-col;

* {
  cursor: default;
  @include css3-prefix(user-select, none);
}

body {
  background: $body-col;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  color: $txt-heading-col;

  &:first-child {
    margin-top: 0;
  }
}

p {
  color: $txt-content-col;
}

a {
  color: $txt-content-col;
  cursor: pointer;

  &:hover {
    color: $txt-content-col;
  }
}

.code {
  font-family: courier;
  background-color: $txt-code-bg-col;
  color: $txt-code-col;
  padding: 2px;
  @include border-radius(4px);
}

.layout-container {
  .layout-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em 1em;
  }
}

.email-list {
  margin-top: 2em;

  .email-list-block {
    margin: 0;
    padding: 0;

    .email-list-item {
      display: block;
      margin-top: 1px;

      a {
        display: block;
        padding: 1em;
        background-color: $link-bg-col;
        cursor: pointer;
        color: $link-txt-col;
        text-decoration: none;
        @include border-radius(3px);

        @include transition(background-color 350ms, color 350ms);

        &:hover {
          background-color: $link-bg-hov-col;
          color: $link-txt-hov-col;
          @include transition(none);
        }

        .filename {
          opacity: 0.33;
          display: inline-block;
          margin-left: 1em;
          font-size: 0.5em;
        }
      }
    }
  }
}
