<!doctype html>
<html>
<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <% if email_data.meta.description? %>
  <meta name="description" content="<%= email_data.meta.description %>">
  <% end %>
  <% if email_data.meta.keywords? %>
  <meta name="keywords" content="<%= email_data.meta.keywords %>">
  <% end %>
  <% if email_data.meta.title? %>
  <title><%= email_data.meta.title %></title>
  <% else %>
  <title>NO EMAIL TITLE</title>
  <% end %>
  <style type="text/css">
    /* Reset CSS
     * https://templates.mailchimp.com/development/css/reset-styles/
     */
    body {
      margin:0;
      padding:0;
    }
    img {
      border:0 none;
      height:auto;
      line-height:100%;
      outline:none;
      text-decoration:none;
    }
    a img {
      border:0 none;
    }
    .imageFix {
      display:block;
    }
    table, td {
      border-collapse:collapse;
    }
    #bodyTable {
      height:100% !important;
      margin:0;
      padding:0;
      width:100% !important;
    }
  </style>
  <style type="text/css">
    /* Global CSS for all templates */
    html, body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: <%= data.globals.bg_col %>;
    }
    p, span, h1, h2, h3, ul {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      color: <%= data.globals.text_col %>;
    }
    a,
    a:link,
    a:visited,
    a:active,
    a:hover,
    a:focus {
      color: inherit;
    }
    @media screen and (max-width: <%= data.globals.width %>px) {
    .content-width {
      width: 100%;
    }
    }
  </style>
  <% if email_data.meta.styles? %>
  <style type="text/css">
    /* CSS for this specific email */
    <%= email_data.meta.styles %>
  </style>
  <% end %>
</head>

<body class="layout-container <%= page_classes %>">
  <%= yield %>
</body>
</html>
