<table width="100%" bgcolor="<%= t_data.bg_col || data.globals.bg_col %>" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="<%= data.globals.width %>" bgcolor="<%= t_data.fg_col || data.globals.bg_col %>" class="content-width" align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td height="<%= t_data.height || 20 %>px"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
