<table width="100%" bgcolor="<%= t_data.bg_col || data.globals.bg_col %>" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="<%= data.globals.width %>" bgcolor="<%= t_data.fg_col || data.globals.bg_col %>" class="content-width" align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center">
            <h1 style="color: <%= t_data.text_col || data.globals.text_col %>; font-size: <%= t_data.text_size || data.globals.header_size %>px; line-height: <%= t_data.text_line || data.globals.header_line %>px; margin: 20px 10px;"><%= t_data.text %></h1>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
