<table width="100%" bgcolor="<%= t_data.bg_col || data.globals.bg_col %>" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="<%= data.globals.width %>" bgcolor="<%= t_data.fg_col || data.globals.bg_col %>" class="content-width" align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <% if t_data.list %>
            <ul style="padding-left: 35px;">
              <% t_data.list.each do |item| %>
              <li style="color: <%= t_data.text_col || data.globals.text_col %>; font-size: <%= t_data.text_size || data.globals.text_size %>px; line-height: <%= t_data.text_line || data.globals.text_line %>px; margin: 10px; margin-left: 0;">item.text</li>
              <% end %>
            </ul>
            <% else %>
            <p style="color: <%= t_data.text_col || data.globals.text_col %>; font-size: <%= t_data.text_size || data.globals.text_size %>px; line-height: <%= t_data.text_line || data.globals.text_line %>px; margin: 10px;">NO LIST DATA</p>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
