<table width="100%" bgcolor="<%= t_data.bg_col || data.globals.bg_col %>" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="<%= data.globals.width %>" bgcolor="<%= t_data.fg_col || data.globals.bg_col %>" class="content-width" align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center">
            <p style="color: <%= t_data.text_col || data.globals.text_col %>; font-size: <%= t_data.text_size || data.globals.preheader_size %>px; line-height: <%= t_data.text_line || data.globals.preheader_line %>px; margin: 10px;">If you're having trouble reading this email, <a href="<%= t_data.link %>">click here</a>.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
