<% if email_data.templates? %>
  <% email_data.templates.each do |data| %>
    <%= partial("emails/partials/"+data.template, :locals => { :t_data => data }) %>
  <% end %>
<% else %>
<div>NO EMAIL TEMPLATES SELECTED</div>
<% end %>
