---
title: TDDB eDM Generator
---

<div class="page-index">
  <h1>TDDB: eDM Generator</h1>
  <p>You can <a target="_blank" href="__middleman/sitemap/">view the sitemap here</a> for debugging purposes.</p>

  <div class="email-list">
    <% if data.emails.length > 0 %>
    <p>List of emails currently in <span class="code">/data/emails/</span>:</p>
    <ul class="email-list-block">

      <% data.emails.each do |filename, filedata| %>
      <li class="email-list-item">
        <a target="_blank" href="emails/<%= filename %>"><%= filedata.meta.title %><span class="filename">/<%= filename %></span></a>
      </li>
      <% end %>

    </ul>
    <% else %>
    <p>No email data files found. Create one or more in <span class="code">/data/emails/</span> to begin.</p>
    <% end %>
  </div>
</div>
